body {

    margin: 0;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(
        skyblue,
        #fff59d
    );

}


.game {

    background: white;

    width: 400px;

    padding: 30px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

}


h1 {

    font-size: 42px;

    color: #f5a623;

    margin-bottom: 5px;

}


.subtitle {

    color: gray;

}


.money {

    background: #fff2a8;

    padding: 15px;

    border-radius: 15px;

    font-size: 28px;

    margin: 20px;

}


.lemon {

    font-size: 90px;

    margin: 20px;

}


button {

    background: #ffd43b;

    border: none;

    border-radius: 15px;

    padding: 15px 25px;

    font-size: 20px;

    font-weight: bold;

    cursor: pointer;

    margin: 10px;

    box-shadow: 0 5px #d39e00;

}


button:hover {

    transform: translateY(-3px);

}


button:active {

    transform: translateY(3px);

    box-shadow: 0 2px #d39e00;

}


.shop {

    background: #f4f4f4;

    padding: 15px;

    border-radius: 20px;

    margin-top: 20px;

}


#message {

    font-style: italic;

    color: #555;

}
